$max-page-width: 800px;

$extra-extra-small-spacing: 5px;
$extra-small-spacing: 10px;
$small-spacing: 20px;
$medium-spacing: 40px;

$font-family: 'Roboto Condensed';

$input-background-color: #fafafa;
$input-border-color: #ccc;

$font-size-normal: 16px;
